<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>沖縄Ruby会議 01 2014/03/01 13:00〜開催！</title>
    <meta name="description" content="沖縄Ruby会議01公式サイト。2014年3月1日、沖縄Ruby会議01が開催されます。沖縄のRuby・Rails利用者同士のコミュニティを目的とした今回が初めての沖縄でのRuby会議です" />
    <meta name="keywords" content="沖縄Ruby会議,ruby,rails,沖縄,ruby会議" />
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="<%= page_classes %>">
  <header class="header">
      <div class="wrapper"><h1><a href="http://regional.rubykaigi.org/okrk01/">沖縄Ruby会議01</a></h1></div>
  </header>
  <section class="catch"><div class="wrapper"><a href="http://okrk01.doorkeeper.jp/events/7599"><img src="images/catch.png" alt="参加"></a></div></section>
  <nav class="gnavi">
      <ul class="wrapper">
          <li id="gnavi1"><a href="http://regional.rubykaigi.org/okrk01/">沖縄Ruby会議</a></li>
          <li id="gnavi2"><a href="about.html">概要</a></li>
          <li id="gnavi3"><a href="mission.html">目的</a></li>
          <li id="gnavi4"><a href="program.html">プログラム</a></li>
          <li id="gnavi5"><a href="speaker.html">ライトニングトークスピーカー募集</a></li>
          <li id="gnavi6"><a href="entry.html">参加方法</a></li>
          <li id="gnavi7"><a href="faq.html">よくある質問</a></li>
          <li id="gnavi8"><a href="contact.html">お問い合わせ</a></li>
      </ul>
  </nav>
  <section class="contents">
    <div class="wrapper">
      <article class="main">
          <%= yield %>
      </article>
      <aside class="side">
      <a class="doorkeeper-registration-widget" href="http://okrk01.doorkeeper.jp/events/7599">沖縄Ruby会議01</a><script src="http://widgets.doorkeeper.jp/w/widget.js"></script>
      <div class="fb-like-box" data-href="https://www.facebook.com/okinawa.rubykaigi" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23okrk01" data-widget-id="424049840071258112">#okrk01 に関するツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      </aside>
    </div>
  </section>
  <section class="contents2">
    <div class="wrapper">
    <h2 class="foot">主催</h2>
    <article class="txt">
        <ul style='list-style-type:none;'>
        <li><a href="http://qwik.jp/okinawarb/"><img src="images/okinawarb-logo.png"></img></a></li>
        <br />
        <li><a href="https://www.facebook.com/groups/ruby.okinawa/"><img src="images/ryukyurb-logo.png"></img></a></li>
        <br />
        <li><a href="http://lingr.com/room/ryudairb"><img src="images/ryudairb-logo.png"></img></a>  </li>
        </ul>
    </article>
    <h2 class="foot">協力</h2>
    <article class="txt">
        <ul style='list-style-type:none;'>
        <li><a href="http://ruby-no-kai.org/"><img src="images/ruby-no-kai-logo.png"></img></a></li>
        <br />
        <li><a href="http://text.geeoki.com/"><img src="images/geeoki-logo.png" width="300px" ></img></a></li>
        </ul>
    </article>
    </div>
  </section>
  <section class="contents3">
    <div class="wrapper">
    <h2>ハッシュタグ</h2>
    <article class="txt">沖縄Ruby会議01ではtwitterのハッシュタグには「<span class="hashtag">#okrk01</span>」を利用しています。イベント開催前〜イベント中の会場からなど、このハッシュタグを利用してつぶやいてください。</article>
    <h2>連絡先</h2>
    <article class="txt"></article>
    </div>
  </section>
  <footer class="footer">
      <div class="wrapper">
          <div class="copyright">Copyright(C)2014 by 沖縄Ruby会議&nbsp;/&nbsp;<%= link_to "Powered by Middleman", "http://middlemanapp.com/" %></div>
      </div>
  </footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1385095801711114";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>